@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Master Sation Code browser WEB APP</h1>
    <p>View Aailable Master Station Codes at the following ink or by clicking one of the links above <a href="/MSCs/Index">master_station_codes</a>.</p>
</div>
